ul, li
  list-style: none
  padding-left: 0
.fade-all-enter-active, .fade-all-leave-active
  transition: all .2s linear 0s
  opacity: 1
.fade-all-enter, .fade-all-leave-to
  opacity: 0
.fade-enter-active, .fade-leave-active
  transition: all .5s ease-in-out 0s
  opacity: 1
.fade-enter, .fade-leave-to
  opacity: 0
@keyframes drowDown {
  from {
    top: 0;
  }
  to {
    top: 30px;
  }
}
@keyframes scaleTo {
  from {
    transform: scale(.6);
  }
  to {
    transform: scale(1);
  }
}
button()
  display: inline-block
  margin-bottom: 0
  font-weight: 400
  text-align: center
  vertical-align: middle
  touch-action: manipulation
  background-image: none
  border: 1px solid transparent
  white-space: nowrap
  line-height: 1.5
  user-select: none
  padding: 6px 15px
  font-size: 12px
  border-radius: 4px
  transition: color .2s linear,background-color .2s linear,border .2s linear
  color: #495060
  background-color: #f7f7f7
  border-color: #c7c6c6
  outline: 0
  cursor: pointer
  &:hover
    color: #57a3f3
    background-color: #fff
    border-color: #57a3f3
input()
  display: block
  margin: 10px auto
  height: 32px
  line-height: 1.5
  padding: 4px 7px
  font-size: 12px
  border: 1px solid #dddee1
  border-radius: 4px
  color: #495060
  background-color: #fff
  background-image: none
  position: relative
  cursor: text
  transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out
  box-sizing: border-box
  &:hover
    border-color: #57a3f3
drowDownUl()
  box-sizing: border-box
  padding: 10px 10px
  border: 1px solid #dfe4ed
  border-radius: 4px
  position: absolute
  left: 0
  top: 30px
  background: #fff
  z-index: 2
  max-height: 300px
  overflow-y: auto
  animation: drowDown .5s